@import './sidebar/sidebar-utils';

.customlist-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: auto;
}

// 單個list (裡面可塞多個東西)
.customlist-group-item {
  // font-weight: 700;
  line-height: 2rem;
  position: relative;
  display: flex;
  padding: 0 1rem;
  // color: #969293;
  color: $color;;
  &:hover,
  &:focus{
    background-color: $item-hover-bc;
    color: $color;
    // background: #5c525e;
    // color: #c9c0c2;
  }

  &:active{
    background-color: $item-active-bc;
    color: $color;
    // background: #dad9d3;
  }

  &-action {
    background-color: $item-action-bc;
    color: $color;
    font-weight: 700;
  }

}

// 單個list裡面的文字'
@for $i from 1 to 7 {
  .customlist-item-#{$i} {
    // font-weight: 100;
    width: $i * 1.5 + rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // color: #969293;
  }
}
.customlist-item-name{
  height: 2rem;
  width: calc(100% - 6.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

