.customlist-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  overflow: auto;
}


// 單個list (裡面可塞多個東西)
.customlist-group-item {
  // font-weight: 700;
  line-height: 2rem;
  position: relative;
  display: flex;
  padding: 0 1rem;
  // color: #969293;
  color: #8a8687;
  text-decoration: if($link-decoration == none, null, none);
  &:hover,
  &:focus{
    background: #5c525e;
    color: #c9c0c2;
  }

  &:active{
    background: #716574;
  }

}

.customlist-group-item-action {
  background: #5c525e;
  color: #c9c0c2 !important;
}

// 單個list裡面的文字'
@for $i from 1 to 7 {
  .customlist-item-#{$i} {
    // font-weight: 100;
    width: $i * 1.5 + rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // color: #969293;
  }
}
.customlist-item-name{
  height: 2rem;
  width: calc(100% - 6.5rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// &.disabled,
  // &:disabled {
  //   color: $list-group-disabled-color;
  //   pointer-events: none;
  //   background-color: $list-group-disabled-bg;
  // }

  // Include both here for `<a>`s and `<button>`s
  // &.active {
  //   z-index: 2; // Place active items above their siblings for proper border styling
  //   color: $list-group-active-color;
  //   background-color: rgb(243, 73, 73);
  //   // background-color: $list-group-active-bg;
  //   // border-color: $list-group-active-border-color;
  // }

  // & + & {
  //   border-top-width: 0;

  //   &.active {
  //     margin-top: -$list-group-border-width;
  //     // border-top-width: $list-group-border-width;
  //   }
  // }
