.sidebar{
  position: relative;
  overflow-y: auto;
  background: #3A343B;
  flex: none;
  width: 18rem;
  height: 100vh;
  box-shadow: 0rem 0rem .3rem rgb(46, 46, 46);
  // @media (max-width:900px){
  //   display: none;
  // }
  &-footer{
    width: inherit;
    bottom: 0;
    position: absolute;
  }
}