@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import './color.scss';

html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
  // color: #4d464d;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

.prefix {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.scale-07{
  transform: scale(.7);
  transform-origin: center;
}

.scale-08{
  transform: scale(.8);
  transform-origin: center;
}

.scale-09{
  transform: scale(.9);
  transform-origin: center;
}

.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  margin: auto;
  z-index: 4;
  background: $coffee;
}

input,
div[contenteditable] {
  box-sizing: border-box;
  width: 100%;
  // color: #494949;
  // color: #645b66;
  // color: #6d626d;
  // color: #685d68;
  // color: #5f575f;
  // color: #4d464d;
  background: transparent;
  border: none;
  outline: none;
  &:hover{
    border: none;
  }
  &::placeholder{
    color: #a3a3a3;
  }

  &:empty:focus::before{
    content: attr(placeholder);
    color: #a3a3a3;
  }
  &:empty:not(:focus)::before{
    content: '';
  }
  &::selection{
    background-color: #bddaeb;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e1db; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cfcfcd; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8b8b5; 
}

.v-enter-active,
.v-leave-active{
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to{
  opacity: 0;
}

.v-enter-to,
.v-leave-from{
  opacity: 1;
}

.pageblock{
  &:hover{
    text-decoration: underline;
  }
}

.bb{
  border-bottom: .01rem solid #5c535e;
}

.bb-light{
  border-bottom: .01rem solid #949494;
}

.bt{
  border-top: .01rem solid #5c535e;
}
// .bb-light{
//   border-bottom: .02rem solid #f0f0f0;
// }
.line-break{
  margin-bottom: 1rem;
}

.h1,h2,h3{
  font-weight: 700;
}


[draggable="true"] {
  /*
   To prevent user selecting inside the drag source
  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}