@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

html {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 14px;
}

body {
  height: 100%;
}

input, textarea{
  display: block;
  color: #464646;
  background: transparent;
  border: none;
  outline: none;
  &:hover{
    border: none;
  }
  &::placeholder{
    color: #f3f3f3;
  }
}

.pageblock{
  &:hover{
    text-decoration: underline;
  }
}

.icon-button{
  &:hover{
    // border: .1rem solid #ebebeb;
    background:#c7c7c7;
  }
}

.bb{
  border-bottom: .01rem solid #4d454e;
}

.bb-light{
  border-bottom: .01rem solid #949494;
}

.bt{
  border-top: .01rem solid #4d454e;
}
// .bb-light{
//   border-bottom: .02rem solid #f0f0f0;
// }
.line-break{
  margin-bottom: 1rem;
}

.h1,h2,h3{
  font-weight: 700;
}

.block-selected{
  opacity: .7;
  filter: grayscale(100%);
  background:rgba($color: rgb(131, 214, 235), $alpha: 0.2);
  border-radius: .2rem;
}

[draggable="true"] {
  /*
   To prevent user selecting inside the drag source
  */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}