// 自定義
$coffee:        #3A343B;
$alabaster:     #F1F0EA;
$persian-green: #1B998B;
$web-orange:    #F49F0A;

.text-coffee{
  color: $coffee;
}
.text-alabaster{
  color: $alabaster;
}
.text-persian-green{
  color: $persian-green;
}
.text-web-orange{
  color: $web-orange;
}